node_modules/
.DS_Store
*.log
dist/
build/*
!build/README.md
!build/icon.png
!build/icon.ico
!build/icon.icns
!build/icon-16.png
!build/icon-32.png
!build/icon-48.png
!build/icon-64.png
!build/icon-128.png
!build/icon-256.png
!build/icon-512.png
!build/icon.iconset/
!build/icon.iconset/*.png
.env
.env.*
