node_modules/
.DS_Store
*.log
dist/
build/*
!build/README.md
!build/icon.png
!build/icon.ico
!build/icon-16.png
!build/icon-32.png
!build/icon-48.png
!build/icon-64.png
!build/icon-128.png
!build/icon-256.png
!build/icon-512.png
!build/replysuite-icon.png
!build/replysuite-icon.ico
!build/replysuite-icon-16.png
!build/replysuite-icon-32.png
!build/replysuite-icon-48.png
!build/replysuite-icon-64.png
!build/replysuite-icon-128.png
!build/replysuite-icon-256.png
!build/replysuite-icon-512.png
.env
.env.*
